.contact{
    width:95%;
    border:2px dotted rgb(112,112,248);
    color:darkblue;
    padding:10px;
    height:450px;
    margin:10px;
}
.errors{
    background-color: rgb(139,139,243);
    color:white;
    padding: 5px;
}
.image{
    margin:20px;
    height:200px;
    width:60%;
}
.image img{
    height:100%;
    width:100%;
}